bs4
colorama
cssselect
daphne
django
django-ninja
django-cors-headers
formencode
html5lib
levenshtein
lxml
python-dotenv
reynir
roman
selenium
setuptools
whitenoise
rich
gitpython
click
requests
cloudscraper
openai
python-dateutil
dateparser
xmlschema
urllib3==2.5.0  # Temporary. Fixes a dependecy on an insecure version. Remove when version >= 2.5.0 gets installed instead of 2.4.0.
