beautifulsoup4==4.12.3
bs4==0.0.2
cffi==1.16.0
colorama==0.4.6
FormEncode==2.1.0
html5lib==1.1
islenska==1.0.0
lxml==5.2.1
pycparser==2.22
reynir==3.5.5
roman==4.1
setuptools==69.2.0
six==1.16.0
soupsieve==2.5
tokenizer==3.4.3
typing_extensions==4.11.0
webencodings==0.5.1
